In [1]:
import pandas as pd 
from sqlalchemy import create_engine

In [2]:
DB_USER = 'root'
DB_PASSWORD = 'hmak19991201***'
DB_HOST = 'localhost'
DB_NAME = 'northwind'

engine = create_engine(f'mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}/{DB_NAME}')

In [3]:
query = 'SELECT * FROM orders'
df = pd.read_sql(query, engine)

In [4]:
print(df.head())

   OrderID  CustomerID  EmployeeID  OrderDate  ShipperID
0    10248          90           5 1996-07-04          3
1    10249          81           6 1996-07-05          1
2    10250          34           4 1996-07-08          2
3    10251          84           3 1996-07-08          1
4    10252          76           4 1996-07-09          2