In [1]:
import pandas as pd 
from sqlalchemy import create_engine

In [2]:
DB_USER = 'root'
DB_PASSWORD = 'hmak19991201***'
DB_HOST = 'localhost'
DB_NAME = 'northwind'

engine = create_engine(f'mysql+pymysql://{DB_USER}:{DB_PASSWORD}@{DB_HOST}/{DB_NAME}')

In [3]:
query = 'SELECT * FROM orders'
df = pd.read_sql(query, engine)

In [4]:
print(df.head())

   OrderID  CustomerID  EmployeeID  OrderDate  ShipperID
0    10248          90           5 1996-07-04          3
1    10249          81           6 1996-07-05          1
2    10250          34           4 1996-07-08          2
3    10251          84           3 1996-07-08          1
4    10252          76           4 1996-07-09          2

In [5]:
# Clean up the orders data

In [6]:
df.shape

(196, 5)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 196 entries, 0 to 195
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   OrderID     196 non-null    int64
 1   CustomerID  196 non-null    int64
 2   EmployeeID  196 non-null    int64
 3   OrderDate   196 non-null    datetime64[ns]
 4   ShipperID   196 non-null    int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 7.8 KB

In [8]:
df.isnull().sum()

OrderID       0
CustomerID    0
EmployeeID    0
OrderDate     0
ShipperID     0
dtype: int64

In [9]:
df.duplicated().sum()

0

In [10]:
df.describe()

,OrderID,CustomerID,EmployeeID,OrderDate,ShipperID
count,196.00000,196.000000,196.000000,196,196.000000
mean,10345.50000,48.647959,4.352041,1996-10-29 22:31:50.204081664,2.071429
min,10248.00000,2.000000,1.000000,1996-07-04 00:00:00,1.000000
25%,10296.75000,25.000000,2.750000,1996-09-03 18:00:00,1.000000
50%,10345.50000,51.000000,4.000000,1996-11-04 12:00:00,2.000000
75%,10394.25000,69.250000,6.000000,1996-12-25 06:00:00,3.000000
max,10443.00000,91.000000,9.000000,1997-02-12 00:00:00,3.000000
std,56.72448,25.621777,2.416513,NaN,0.787726